<div class="app-menu">
    <span class="logo">Release Buckets Testbox</span>
</div>

<div class="content">
<!--
    <div class="clock">
        <my-clock #clock1></my-clock>
        <button ng-click="$ctrl.clock1.start()">Start</button>
        <button ng-click="$ctrl.clock1.stop()">Stop</button>
    </div>

    <div class="clock">
        <my-clock #clock2></my-clock>
        <button ng-click="$ctrl.clock2.start()">Start</button>
        <button ng-click="$ctrl.clock1.stop()">Stop</button>
    </div>
-->

    <div class="release-bucket">
        <my-release-bucket #releaseBucket1></my-release-bucket>
    </div>

    <hr>

    <div class="release-bucket">
        <my-release-bucket #releaseBucket2></my-release-bucket>
    </div>

<!--
    <div class="release-bucket">
        <my-release-bucket #releaseBucket2></my-release-bucket>
        <button ng-click="$ctrl.clock2.start()">Start</button>
        <button ng-click="$ctrl.clock1.stop()">Stop</button>
    </div>
-->
</div>
