* { box-sizing: border-box;}
body {padding: 10px;}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


.bucket__container {
	position: relative;
	width: 88px;
	height: 88px;
}

.bucket__background-circle {
	position: absolute;
	border-radius: 50%;
	width: 88px;
	height: 88px;
	background-color: #f4f4f4;
	border: 1px solid #ebebeb;
}

.bucket {
	position: relative;
	height: 53px;
	width: 37px;
	left: 25px;
	top: 13px;
}

.bucket__measurements {
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	padding-left: 3px;
	padding-right: 3px;
}

.bucket__measurement {
	flex: 0 0 0;
}

.done-work {
	background-color: #09A582;
}

.remaining-work {
	background-color: #5F9FCB;
}

.free-capacity {
	background-color: transparent;
}

.over-capacity {
	background-color: #FE4554;
}

.bucket__capacity {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	border-left: 2px;
	border-left-color: #666;

	border-right: 2px;;
	border-right-color: #666;
}

.bucket__feature-estimation {
	position: absolute;
	left: 0;
	right: 0;
	border: 1px dashed;
}

.bucket__bottom {
	height: 3px;
	border-left: 2px;;
	border-left-color: #666;

	border-right: 2px;
	border-right-color: #666;

	border-bottom: 2px;
	border-bottom-color: #666;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.bucket__svg_icon {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: black;
	left: 29px;
	right: 0;
	bottom: 95%;
}

